package/redis/redis6_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/mongodb/mongodb4.4.5-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/mongodb/mongodb4.2.14-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/mongodb/mongodb4.2.21-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/grafana_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/node_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/prometheus_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/consul_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/postgres_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/redis_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
package/prometheus/mongodb_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/pgsql/pgsql12_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/redis/redis6_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mongodb/mongodb4.4.5-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mongodb/mongodb4.2.14-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mongodb/mongodb4.2.21-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mariadb/mariadb10.6.8-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mariadb/mariadb10.6.15-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mariadb/mariadb10.11.5-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mariadb/mariadb10.11.8-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/grafana_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/node_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/prometheus_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/consul_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/postgres_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/redis_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/prometheus/mongodb_exporter_linux_amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/pgsql/pgsql12_linux_arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/mongodb/mongodb4.2.14-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/prometheus/grafana_linux_arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/prometheus/prometheus_linux_arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/mariadb/mariadb10.6.8-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/mariadb/mariadb10.6.15-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/mariadb/mariadb10.11.5-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/mariadb/mariadb10.11.8-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-amd64/package/mongodb/mongodb4.2.21-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
oasis-linux-arm64/package/mongodb/mongodb4.2.21-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
